<div class="f2vimeo">
		<object class="vimeovideo" style="height: {video.height}px"
			data="http://www.vimeo.com/moogaloop.swf?clip_id={video.id}&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1"
			type="application/x-shockwave-flash">
			<param name="allowfullscreen" value="true" />
			<param name="allowscriptaccess" value="always" />
			<param name="movie" value="http://www.vimeo.com/moogaloop.swf?clip_id={video.id}&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" />
		</object>
</div>