<div class="f2youtube">
		<object class="youtubevideo" style="height: {video.height}px; width: {video.width}%" type="application/x-shockwave-flash" data="http://www.youtube-nocookie.com/v/{video.id}&#038;hl=es&#038;fs=1&#038;">
			<param name="movie" value="http://www.youtube-nocookie.com/v/{video.id}&#038;hl=es&#038;fs=1&#038;" />
			<param name="allowFullScreen" value="true" />
		</object>
		<f:renderFlashMessages class="tx-extbase-flash-message" />
		<div class="metadata">
			<span class="comments">This video has {metadata.comments} comments</span><span class="plays"> and it was played {metadata.viewCount} times.</span>
			<a href="{metadata.url}">Watch on YouTube</a>
		</div>
</div>